<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Service name:</label>
      <br>
      <input #newName>
    </div>

    <div>
      <label>Service location:</label>
      <br>
      <input #newLocation>
    </div>

    <div>
      <label>Service Date:</label>
      <br>
      <textarea #newDate></textarea>
    </div>

    <div>
      <label>Service Price:</label>
      <br>
      <textarea #newPrice></textarea>
    </div>
    <button (click)="submitForm(newName.value, newLocation.value, newDate.value, newPrice.value); newName.value=''; newLocation.value=''; newDate.value=''; newPrice.value=''">Add</button>
  </div>
</div>
