<div class="panel panel-default">

  <div class="row">
    <h4 class="">Edit Album:</h4>
    <div class="form-group">
      <label>New Name:</label>
      <input [(ngModel)]="selectedService.name">
      <br>
      <label>New Location:</label>
      <input [(ngModel)]="selectedService.location">
    </div>
    <div class="col-md-6">
      <label>New Price:</label>
      <input [(ngModel)]="selectedService.price">
      <br>
      <label>New Date:</label>
      <input [(ngModel)]="selectedService.date">
    </div>
  </div>
</div>
