<div class="panel panel-default">
  <div class="row form-group">
    <div class="col-md-4">
      <label>Edit Name:</label>
      <input class="form-control" [(ngModel)]="selectedService.name">
      <br>
      <label>Edit Location:</label>
      <input class="form-control" [(ngModel)]="selectedService.location">
    </div>
    <br>
    <div class="col-md-4">
      <label>Edit Price:</label>
      <input class="form-control" [(ngModel)]="selectedService.price">
      <br>
      <label>Edit Date:</label>
      <input class="form-control" [(ngModel)]="selectedService.date">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-secondary" (click)="beginUpdatingService(selectedService)">Update</button>
    <button class="btn btn-outline-secondary" (click)="beginDeletingService(selectedService)">Delete</button>
  </div>
</div>
<!-- <hr>
<button (click)="beginDeletingAlbum(selectedAlbum)">Delete</button> -->
