<div class="row">
  <div class="col-md-12">
    <div class="panel panel-header">
      <h2 class="display-4"><em>Services</em></h2>
    </div>
    <br>
    <div *ngFor="let service of services | async" class="panel panel-default">
      <div class="panel-body">
        <table class="table table-bordered" (click)="goToDetailPage(service)">
          <thead class="thead-light">
            <tr class="">
              <th scope="col"class="">Description</th>
              <th scope="col"class="">Location</th>
              <th scope="col"class="">Price</th>
              <th scope="col"class="">Date</th>
              <th scope="col"class="">KEY</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td scope="row" class=""><span class="btn btn-outline-secondary">{{service.name}}</span></td>
              <td class="">{{service.location}}</td>
              <td class="">${{service.price}}</td>
              <td class="">{{service.date}}</td>
              <td class="">{{service.$key}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-service [selectedService]="service"></app-edit-service>
      </div>
    </div>
  </div>
</div>
